body{
   margin: 0;
}

/* bo slide show ta line 31 */
*{
   box-sizing: border-box;
}
.image-slideshow{
   max-width: 100%;
   max-height: 50%;
   position: relative;
   margin: auto;
}
.img-slideshow{
   position: absolute;
   width: 100%;
   height: 460px;
   box-shadow: 0px 0px 10px 0px black;
   margin-top: 100px;

}
.fade{
   animation-name: fade;
   animation-duration: 2s;
}
@keyframes fade {
   form{opacity: .5;}
   to{opacity: 1;}

}



.logo2{
   width: 80px;
   height: auto;
   position: absolute;
 margin-top: 4px;
   margin-left: 550px;
}
.naw{
   color:  rgb(188, 179, 0);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 25px;
   font-weight: bolder;
   margin-top: 28px;
   margin-left: 900px;
   position: absolute;
}

.bar{
   z-index: 1;
position: -webkit-sticky;
position: sticky;
top: 0;
outline: none;
height: 100px;
background-color: #000671f1;
border: none;
}
.h1{
   
    text-align: right;
    color: rgb(45, 45, 45);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 550px;
}
.nav{
   position: absolute;
   width: 450px;
   height: 30px;
   margin-top: 30px;
   
 }
.nav a{
   color: white;
   text-decoration: none;
   margin-left: 15px;
   font-size: 20px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: bolder;
   
}
.nav a:hover{
transition: .5s;
color:  rgb(188, 179, 0);
}

.zyatr{
   width: 180px;
   height: 40px;
   margin-left: 500px;
   border-radius: 20px;
   background-color: #000671f1;
}
.zyatr:hover{
      transition: .5s;
      background-color:rgb(188, 179, 0);

}
.zyatr a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    margin-left:20px ;
    color: white;
    font-size: 30px;
    
}

 .divmedya{
   width: auto;
   height: 200px;
   margin-top: 20px;
   background-color:rgb(14, 0, 108); 
   }
   .pmedya{
       text-align: center;
       padding-top: 20px;
       color: white;
       font-size: 30px;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       font-weight: bold;
   }
   .fa-facebook{
       margin-left: 550px;
       margin-top: 15px;
       font-size: 50px;
   }
   .fac{
       color: white;
   }
   .fa-telegram{
      margin-left:20px;
      margin-top: 15px;
      font-size: 50px;
      display: flex;
   }
   .divmedya a:hover{
      transition: .5s;
       color: rgb(188, 179, 0);
   }

   .nawnishan{
      color: white;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      text-align: center;
  }